{{ define "header" }} {{ partialCached "header.html" . }} {{ end }} {{ define
"main" }}
<main class="site-main section-inner thin animated fadeIn faster">
  <h1>{{ .Title }}</h1>
  {{- if .Content }}
  <div class="content">
    {{ .Content }}
  </div>
  {{- end }} {{- range .Data.Pages.GroupByDate "2006" }}
  <div class="projects-group">
    <!-- <div class="post-year" id="{{ .Key }}">{{ .Key }}</div> -->
    <!-- <ul class="posts-list"> -->
    {{- range .Pages }}
    <section class="post-item">
      <a href="{{.Permalink}}">
        <img
          class="post-thumb"
          loading="lazy"
          alt=""
          src="https://picsum.photos/1280/480/?random"
        />
        <div class="post-info">
          <div class="post-title">{{ .Title }}</div>
          <div class="post-tag">Mobile Design & Mini Program</div>
        </div>
      </a>
    </section>
    {{- end }}
    <!-- </ul> -->
  </div>
  {{- end }}
</main>
{{ end }} {{ define "footer" }} {{ partialCached "footer.html" . }} {{ end }}
